@charset "UTF-8";
/* CSS Document */

#body1 {
	margin:0px;
	width:960px;
	height:196px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/kellysconslice_02.jpg);
	background-repeat:repeat-x;
}

#info {
	margin-left:72px;
	margin-top:-145px;
	width:878px;
	height:144px;
	border; solid thick;
}

#logolsl1 {
	margin:0px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logolslice1_05.jpg);
	background-repeat:no-repeat;
}

#logolsl2 {
	margin-left:26px;
	margin-top:-97px;
	background-image:url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logolslice2_06.jpg);
	background-repeat:no-repeat;
}

#contactsl2 {
	margin-left:64px;
	margin-top:-94px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logocontactslice_07.jpg);
	background-repeat:no-repeat;
}

#contactblsl1 {
	margin-left:123px;
	margin-top:0px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice1_131.jpg);
	background-repeat:no-repeat;
}

#contactblsl2 {
	margin-left:140px;
	margin-top:-2px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice2_132.jpg);
	background-repeat:no-repeat;
}

#contactblsl3 {
	margin-left:147px;
	margin-top:-4px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice3_133.jpg);
	background-repeat:no-repeat;
}

#contactblsl4 {
	margin-left:157px;
	margin-top:-5px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice4_134.jpg);
	background-repeat:no-repeat;
}

#contactblsl5 {
	margin-left:164px;
	margin-top:-7px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice5_135.jpg);
	background-repeat:no-repeat;
}

#contactblsl6 {
	margin-left:168px;
	margin-top:-8px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice6_136.jpg);
	background-repeat:no-repeat;
}

#contactblsl7 {
	margin-left:175px;
	margin-top:-10px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice7_137.jpg);
	background-repeat:no-repeat;
}


#contactblsl8 {
	margin-left:181px;
	margin-top:-12px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice8_138.jpg);
	background-repeat:no-repeat;
}

#contactblsl9 {
	margin-left:187px;
	margin-top:-14px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice9_139.jpg);
	background-repeat:no-repeat;
}

#contactblsl10 {
	margin-left:193px;
	margin-top:-16px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice10_140.jpg);
	background-repeat:no-repeat;
}

#contactblsl11 {
	margin-left:200px;
	margin-top:-18px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice11_141.jpg);
	background-repeat:no-repeat;
}

#contactblsl12 {
	margin-left:203px;
	margin-top:-20px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice12_142.jpg);
	background-repeat:no-repeat;
}

#contactblsl13 {
	margin-left:209px;
	margin-top:-22px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice14_143.jpg);
	background-repeat:no-repeat;
}



#contactblsl14 {
	margin-left:213px;
	margin-top:-24px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice15_144.jpg);
	background-repeat:no-repeat;
}

#contactblsl15 {
	margin-left:219px;
	margin-top:-26px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoblslice16_145.jpg);
	background-repeat:no-repeat;
}

#contactblsl16 {
	margin-left:224px;
	margin-top:-29px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobmidslice_146.jpg);
	background-repeat:no-repeat;
}



#contactblsl17 {
	margin-left:229px;
	margin-top:-30px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobrslice1_147.jpg);
	background-repeat:no-repeat;
}

#contactmidsl {
	margin-left:231px;
	margin-top:-118px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobrslice2_08.jpg);
	background-repeat:no-repeat;
}

#infsl {
	margin-left:235px;
	margin-top:-116px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/logoinfslice_09.jpg);
	background-repeat:no-repeat;
}

#infslb1 {
	margin-left:235px;
	margin-top:0px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobrslice3_103.jpg);
	background-repeat:no-repeat;
}

#infslb2 {
	margin-left:237px;
	margin-top:-43px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobrslice4_104.jpg);
	background-repeat:no-repeat;
}

#infslb3 {
	margin-left:239px;
	margin-top:-41px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobrslice5_105.jpg);
	background-repeat:no-repeat;
}

#infslb4 {
	margin-left:242px;
	margin-top:-39px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobrslice6_106.jpg);
	background-repeat:no-repeat;
}

#infslb5 {
	margin-left:247px;
	margin-top:-35px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobrslice7_107.jpg);
	background-repeat:no-repeat;
}

#infslb6 {
	margin-left:251px;
	margin-top:-30px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobrslice8_108.jpg);
	background-repeat:no-repeat;
}

#infslb7 {
	margin-left:253px;
	margin-top:-25px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup4_105.jpg);
	background-repeat:no-repeat;
}

#infslb8 {
	margin-left:255px;
	margin-top:-23px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup5_106.jpg);
	background-repeat:no-repeat;
}

#infslb9 {
	margin-left:257px;
	margin-top:-20px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup6_107.jpg);
	background-repeat:no-repeat;
}

#infslb10 {
	margin-left:260px;
	margin-top:-18px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup7_108.jpg);
	background-repeat:no-repeat;
}

#infslb11 {
	margin-left:262px;
	margin-top:-15px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup8_109.jpg);
	background-repeat:no-repeat;
}

#infslb12 {
	margin-left:264px;
	margin-top:-13px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup2_110.jpg);
	background-repeat:no-repeat;
}

#infslb13 {
	margin-left:266px;
	margin-top:-11px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup10_111.jpg);
	background-repeat:no-repeat;
}

#infslb14 {
	margin-left:268px;
	margin-top:-9px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup11_112.jpg);
	background-repeat:no-repeat;
}

#infslb15 {
	margin-left:270px;
	margin-top:-7px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup12_113.jpg);
	background-repeat:no-repeat;
}

#infslb16 {
	margin-left:272px;
	margin-top:-5px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/slice7fuckup13_114.jpg);
	background-repeat:no-repeat;
}

#osl {
	margin-left:282px;
	margin-top:-71px;
	background-image:url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/logooslice_10.jpg);
	background-repeat:no-repeat;
}

#infslo1 {
	margin-left:282px;
	margin-top:0px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logobrslice15_116.jpg);
	background-repeat:no-repeat;
}

#infslo2 {
	margin-left:283px;
	margin-top:-6px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoobslice3_96.jpg);
	background-repeat:no-repeat;
}

#infslo3 {
	margin-left:285px;
	margin-top:-5px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logoobslice4_97.jpg);
	background-repeat:no-repeat;
}

#infslo4 {
	margin-left:287px;
	margin-top:-4px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/osl3_98.jpg);
	background-repeat:no-repeat;
}

#infslor1 {
	margin-left:307px;
	margin-top:-57px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice1_11.jpg);
	background-repeat:no-repeat;
}


#infslor2 {
	margin-left:309px;
	margin-top:-45px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice2_12.jpg);
	background-repeat:no-repeat;
}

#infslor3 {
	margin-left:311px;
	margin-top:-44px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice3_13.jpg);
	background-repeat:no-repeat;
}

#infslor4 {
	margin-left:313px;
	margin-top:-43px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice4_14.jpg);
	background-repeat:no-repeat;
}

#infslor5 {
	margin-left:315px;
	margin-top:-42px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice5_15.jpg);
	background-repeat:no-repeat;
}

#infslor6 {
	margin-left:317px;
	margin-top:-41px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice6_16.jpg);
	background-repeat:no-repeat;
}

#infslor7 {
	margin-left:319px;
	margin-top:-40px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice7_17.jpg);
	background-repeat:no-repeat;
}

#infslor8 {
	margin-left:321px;
	margin-top:-39px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice8_18.jpg);
	background-repeat:no-repeat;
}

#infslor9 {
	margin-left:323px;
	margin-top:-38px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice9_19.jpg);
	background-repeat:no-repeat;
}

#infslor10 {
	margin-left:325px;
	margin-top:-37px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice10_20.jpg);
	background-repeat:no-repeat;
}


#infslor11 {
	margin-left:327px;
	margin-top:-36px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice11_21.jpg);
	background-repeat:no-repeat;
}

#infslor12 {
	margin-left:329px;
	margin-top:-35px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice12_22.jpg);
	background-repeat:no-repeat;
}

#infslor13 {
	margin-left:331px;
	margin-top:-34px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice13_23.jpg);
	background-repeat:no-repeat;
}

#infslor14 {
	margin-left:333px;
	margin-top:-33px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice15_24.jpg);
	background-repeat:no-repeat;
}

#infslor15 {
	margin-left:337px;
	margin-top:-32px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice16_25.jpg);
	background-repeat:no-repeat;
}

#infslor16 {
	margin-left:339px;
	margin-top:-31px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice17_26.jpg);
	background-repeat:no-repeat;
}

#infslor17 {
	margin-left:341px;
	margin-top:-30px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice18_27.jpg);
	background-repeat:no-repeat;
}

#infslor18 {
	margin-left:343px;
	margin-top:-29px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice19_28.jpg);
	background-repeat:no-repeat;
}

#infslor19 {
	margin-left:345px;
	margin-top:-28px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice20_29.jpg);
	background-repeat:no-repeat;
}

#infslor20 {
	margin-left:349px;
	margin-top:-27px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice21_30.jpg);
	background-repeat:no-repeat;
}

#infslor21 {
	margin-left:353px;
	margin-top:-26px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice22_31.jpg);
	background-repeat:no-repeat;
}

#infslor22 {
	margin-left:355px;
	margin-top:-25px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice23_32.jpg);
	background-repeat:no-repeat;
}

#infslor23 {
	margin-left:359px;
	margin-top:-23px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice24_33.jpg);
	background-repeat:no-repeat;
}


#infslor24 {
	margin-left:363px;
	margin-top:-22px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice25_34.jpg);
	background-repeat:no-repeat;
}

#infslor25 {
	margin-left:366px;
	margin-top:-21px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice26_35.jpg);
	background-repeat:no-repeat;
}

#infslor26 {
	margin-left:368px;
	margin-top:-20px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice28_36.jpg);
	background-repeat:no-repeat;
}

#infslor27 {
	margin-left:372px;
	margin-top:-19px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice29_37.jpg);
	background-repeat:no-repeat;
}

#infslor28 {
	margin-left:376px;
	margin-top:-18px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice30_38.jpg);
	background-repeat:no-repeat;
}

#infslor29 {
	margin-left:379px;
	margin-top:-17px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice31_39.jpg);
	background-repeat:no-repeat;
}

#infslor30 {
	margin-left:383px;
	margin-top:-16px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice32_40.jpg);
	background-repeat:no-repeat;
}

#infslor31 {
	margin-left:386px;
	margin-top:-15px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice33_41.jpg);
	background-repeat:no-repeat;
}

#infslor32 {
	margin-left:389px;
	margin-top:-14px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice34_42.jpg);
	background-repeat:no-repeat;
}

#infslor33 {
	margin-left:392px;
	margin-top:-13px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice35_43.jpg);
	background-repeat:no-repeat;
}

#infslor34 {
	margin-left:396px;
	margin-top:-12px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice37_44.jpg);
	background-repeat:no-repeat;
}

#infslor35 {
	margin-left:400px;
	margin-top:-11px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice38_45.jpg);
	background-repeat:no-repeat;
}

#infslor36 {
	margin-left:405px;
	margin-top:-10px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice39_46.jpg);
	background-repeat:no-repeat;
}

#infslor37 {
	margin-left:409px;
	margin-top:-9px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice40_47.jpg);
	background-repeat:no-repeat;
}

#infslor38 {
	margin-left:416px;
	margin-top:-7px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice41_48.jpg);
	background-repeat:no-repeat;
}

#infslor39 {
	margin-left:421px;
	margin-top:-6px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice43_50.jpg);
	background-repeat:no-repeat;
}

#infslor40 {
	margin-left:426px;
	margin-top:-5px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Logofrslice43_50.jpg);
	background-repeat:no-repeat;
}

#rect {
	margin-left:441px;
	margin-top:20px;
	text-align: center;
	font-family: Helvetica;
	font-size:22px;
	line-height:5px;
	padding-bottom:20px;
	background-image: url(file:///Macintosh%20HD/Users/user/Desktop/tekpicsserversfree/tekexport2/Infoblock_60.jpg);
	background-repeat:no-repeat;
}