@charset "UTF-8";
/* CSS Document */
# body {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	width:1600 px;
	height: 1200px;
	background-image:url(file:///Macintosh%20HD/Users/user/Desktop/images2/images/kellysfav9999_128.jpg);
	background-repeat:repeat-x;
}
	

