@charset "UTF-8";
/* CSS Document */


#resume {
	background-image: url(../../../Jobapplications/TedresumeP1.png);
	background-repeat:no-repeat;
	height:1000 px;
} 
#resume2 {
	background-image:url(../../../Jobapplications/Tedresumep2.png);
	background-repeat:no-repeat;
	height:1000 px;
}