@charset "UTF-8";
/* CSS Document */
body {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	width:1200px;
	height:1200px;
	background-image: url(kellysfavoritebg2_01.jpg);
	background-repeat:repeat-x;
}

#head { 
  margin:0px;
  width:1120px;
  height:125px;
}

#loglsl1l {
	margin-top:22px;
	margin-left:50px;
	background-image:url(file:///LACIE/TEK%20Website/Webpagephotoshoproughs/Webpagemain/images/images/Logoslice1_03.jpg);
	background-repeat:no-repeat;
}

#loglsl2l {
	margin-left:55px;
	margin-top:-113px;
	background-image: url(../../tekexport2/logoslice2_04.jpg);
	background-repeat:no-repeat;
}

#loglsl3l {
	margin-left:57px;
	margin-top:-110px;
	background-image: url(../../tekexport2/logoslice3_05.jpg);
	background-repeat:no-repeat;
}

#loglsl4l {
	margin-left:61px;
	margin-top:-110px;
	background-image: url(../../tekexport2/logoslice4_06.jpg);
	background-repeat:no-repeat;
}

#loglsl5l {
	margin-left:65px;
	margin-top:-110px;
	background-image: url(../../tekexport2/logoslice5_07.jpg);
	background-repeat:no-repeat;
}

#loglsl6l {
	margin-left:69px;
	margin-top:-109px;
	background-image: url(../../tekexport2/logoslice6_08.jpg);
	background-repeat:no-repeat;
}

#loglsl7l {
	margin-left:73px;
	margin-top:-109px;
	background-image: url(../../tekexport2/logoslice7_09.jpg);
	background-repeat:no-repeat;
}

#loglsl8l {
	margin-left:79px;
	margin-top:-109px;
	background-image: url(../../tekexport2/logoslice8_10.jpg);
	background-repeat:no-repeat;
}

#loglsl9l {
	margin-left:84px;
	margin-top:-109px;
	background-image: url(../../tekexport2/logoslice9_11.jpg);
	background-repeat:no-repeat;
}

#loglsl10l {
	margin-left:90px;
	margin-top:-109px;
	background-image: url(../../tekexport2/logoslice10_12.jpg);
	background-repeat:no-repeat;
}

#loglsl11l {
	margin-left:94px;
	margin-top:-109px;
	background-image: url(../../tekexport2/logoslice11_13.jpg);
	background-repeat:no-repeat;
}

#loglsl12l {
	margin-left:98px;
	margin-top:-110px;
	background-image: url(../../tekexport2/logoslice12_14.jpg);
	background-repeat:no-repeat;
}

#loglsl13l {
	margin-left:103px;
	margin-top:-113px;
	background-image: url(../../tekexport2/logoslice13_15.jpg);
	background-repeat:no-repeat;
}

#loglsl14l {
	margin-left:108px;
	margin-top:-114px;
	background-image: url(../../tekexport2/logoslice14_16.jpg);
	background-repeat:no-repeat;
}

#loglslmiddle {
	margin-left:113px;
	margin-top:-117px;
	background-image: url(file:///Macintosh%20HD/Users/tedkissel/Desktop/websites%20/tekpicsserversfree2%20copy%205/TEKexprot1/webslice15_17.jpg);
	background-repeat:no-repeat;
}

#loglslb1 {
	margin-left:127px;
	margin-top:0px;
	background-image: url(logobottomslice1_78.jpg);
	background-repeat:no-repeat;
}

#loglslb2 {
	margin-left:139px;
	margin-top:0px;
	background-image: url(../../tekexport2/logobottomslice2_88.jpg);
	background-repeat:no-repeat;
}

#loglslb3 {
	margin-left:144px;
	margin-top:0px;
	background-image: url(../../tekexport2/logobottomslice3_91.jpg);
	background-repeat:no-repeat;
}

#loglslb4 {
	margin-left:150px;
	margin-top:0px;
	background-image: url(../../tekexport2/logobottomslice4_94.jpg);
	background-repeat:no-repeat;
}

#loglslb5 {
	margin-left:155px;
	margin-top:0px;
	background-image: url(../../tekexport2/logobottomslice5_97.jpg);
	background-repeat:no-repeat;
}

#loglslb6 {
	margin-left:158px;
	margin-top:0px;
	background-image: url(../../tekexport2/logobottomslice6_100.jpg);
	background-repeat:no-repeat;
}

#loglslb7 {
	margin-left:161px;
	margin-top:0px;
	background-image: url(../../tekexport2/logobottomslice7_102.jpg);
	background-repeat:no-repeat;
}

#loglsll1 {
	margin-left:242px;
	margin-top:-150px;
	background-image: url(../../tekexport2/Logoslice1_03.jpg);
	background-repeat:no-repeat;
}

#loglsll2 {
	margin-left:246px;
	margin-top:-49px;
	background-image: url(Logoleftslice2_19.jpg);
	background-repeat:no-repeat;
}

#loglsll3 {
	margin-left:251px;
	margin-top:-44px;
	background-image: url(../../tekexport2/logoleftslice3_20.jpg);
	background-repeat:no-repeat;
}

#loglsll4 {
	margin-left:254px;
	margin-top:-41px;
	background-image: url(../../tekexport2/logoleftslice4_21.jpg);
	background-repeat:no-repeat;
}

#loglsll5 {
	margin-left:257px;
	margin-top:-39px;
	background-image: url(file:///LACIE/TEK%20Website/Webpagephotoshoproughs/Webpagemain/images/images/logoleftslice5_22.jpg);
	background-repeat:no-repeat;
}

#loglsll6 {
	margin-left:260px;
	margin-top:-37px;
	background-image: url(../../tekexport2/logoleftslice6_23.jpg);
	background-repeat:no-repeat;
}

#loglsll7 {
	margin-left:262px;
	margin-top:-35px;
	background-image: url(../../tekexport2/logoleftslice5_22.jpg);
	background-repeat:no-repeat;
}

#loglsll8 {
	margin-left:265px;
	margin-top:-33px;
	background-image: url(../../tekexport2/logolslice8_25.jpg);
	background-repeat:no-repeat;
}


#loglsll9 {
	margin-left:267px;
	margin-top:-31px;
	background-image: url(../../tekexport2/logolslice9_26.jpg);
	background-repeat:no-repeat;
}

#loglsll10 {
	margin-left:270px;
	margin-top:-29px;
	background-image: url(../../tekexport2/logolslice10_27.jpg);
	background-repeat:no-repeat;
}

#loglsll11 {
	margin-left:272px;
	margin-top:-27px;
	background-image: url(../../tekexport2/logolslice11_28.jpg);
	background-repeat:no-repeat;
}

#loglsll12 {
	margin-left:275px;
	margin-top:-24px;
	background-image: url(../../tekexport2/logolslice12_30.jpg);
	background-repeat:no-repeat;
}

#loglsll13 {
	margin-left:278px;
	margin-top:-22px;
	background-image: url(../../tekexport2/logolslice13_31.jpg);
	background-repeat:no-repeat;
}

#loglsll14 {
	margin-left:282px;
	margin-top:-22px;
	background-image: url(../../tekexport2/logolslice14_32.jpg);
	background-repeat:no-repeat;
}


#loglsll15 {
	margin-left:285px;
	margin-top:-16px;
	background-image: url(../../tekexport2/logolslice15_33.jpg);
	background-repeat:no-repeat;
}

#loglsll16 {
	margin-left:289px;
	margin-top:-15px;
	background-image: url(../../tekexport2/logolslice16_34.jpg);
	background-repeat:no-repeat;
}

#loglsll17 {
	margin-left:292px;
	margin-top:-12px;
	background-image: url(../../tekexport2/logolslice17_35.jpg);
	background-repeat:no-repeat;
}

#loglsll18 {
	margin-left:297px;
	margin-top:-11px;
	background-image: url(../../tekexport2/logolslice18_36.jpg);
	background-repeat:no-repeat;
}

#loglsll19 {
	margin-left:302px;
	margin-top:-7px;
	background-image:url(../../tekexport2/logolslice19_37.jpg);
	background-repeat:no-repeat;
}

#container4 {
	text-align:center;
	width:307px;
	height:300px;
	background-color:#343434;
	margin-top:150px;
	margin-left:0px;

}

#navmenu3 {
	margin-top:0px;
	width:250px;
	height:300px;
	padding:0px;
	display:block;
}


#navmenu3 ul li {
	width:190px;
	float:left;
	display:block;
}

#navmenu3 a {
	font-family:Helvetica;
	text-decoration:none;
	display:block;
	width:200px;
	height:42px;
	line-height:36px;
	font-size:24px;
	color:#FFF;
}

#navmenu3 a:hover {
	background-position:0px; 
	color:#008191;
	font-weight:bold;
	
	
}

#printslices {
	width: 307px;
	height: 337px;
	background-color:#343434;
}

#printlsl1 {
	margin-left:0px;
	margin-top:0px;
	background-image: url(printlsl1starter_04.jpg);
	background-repeat:no-repeat;
	}
	
#printlsl2 {
	margin-left:13px;
	margin-top:-160px;
	background-image: url(printlsl2_79.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsl3 {
	margin-left:22px;
	margin-top:-300px;
	background-image: url(printlsl3_35.jpg);
	background-repeat:no-repeat;
	}		
	
#printlsl4 {
	margin-left:38px;
	margin-top:-282px;
	background-image: url(printlsl4_53.jpg);
	background-repeat:no-repeat;
	}			
	
#printlslt1 {
	margin-left:50px;
	margin-top:-266px;
	background-image: url(printsl65_65.jpg);
	background-repeat:no-repeat;
	}			
	
#printlslt2 {
	margin-left:62px;
	margin-top:-197px;
	background-image: url(printltopsl2_69.jpg);
	background-repeat:no-repeat;
	}	
	
#printlslt3 {
	margin-left:71px;
	margin-top:-191px;
	background-image: url(printltopsl3_75.jpg);
	background-repeat:no-repeat;
	}		
	
#printlslt4 {
	margin-left:82px;
	margin-top:-187px;
	background-image: url(printltopsl4_78.jpg);
	background-repeat:no-repeat;
	}		
	
#printlslt5 {
	margin-left:88px;
	margin-top:-190px;
	background-image: url(printltopsl5_77.jpg);
	background-repeat:no-repeat;
	}		
	
#printlslt6 {
	margin-left:93px;
	margin-top:-193px;
	background-image: url(printltopsl6_74.jpg);
	background-repeat:no-repeat;
	}			
	
#printlslt7 {
	margin-left:100px;
	margin-top:-205px;
	background-image: url(printltopsl7_72.jpg);
	background-repeat:no-repeat;
	}		
	
#printlslt8 {
	margin-left:104px;
	margin-top:-263px;
	background-image: url(printltopsl8_06.jpg);
	background-repeat:no-repeat;
	}		
	
#printlslt9 {
	margin-left:111px;
	margin-top:-223px;
	background-image: url(printltopsl10_68.jpg);
	background-repeat:no-repeat;
	}			
	
#printlslt10 {
	margin-left:117px;
	margin-top:-245px;
	background-image: url(printltopsl11_63.jpg);
	background-repeat:no-repeat;
	}			

#printlslt11 {
	margin-left:120px;
	margin-top:-234px;
	background-image: url(printltopsl12_67.jpg);
	background-repeat:no-repeat;
	}	
	
#printlslt12 {
	margin-left:122px;
	margin-top:-253px;
	background-image: url(printtopcslice56_56.jpg);
	background-repeat:no-repeat;
	}	
	
#printlslt13 {
	margin-left:125px;
	margin-top:-253px;
	background-image: url(printltopsl13_57.jpg);
	background-repeat:no-repeat;
	}
	
#printlslt14 {
	margin-left:128px;
	margin-top:-255px;
	background-image: url(printltopsl14_48.jpg);
	background-repeat:no-repeat;
	}			

#printlslbl {
	margin-left:50px;
	margin-top:0px;
	background-image: url(printlbotsl9bigone_85.jpg);
	background-repeat:no-repeat;
	}		
	
#printlslb2 {
	margin-left:88px;
	margin-top:0px;
	background-image: url(printlbotsl8_87.jpg);
	background-repeat:no-repeat;
	}	
	
#printlslb3 {
	margin-left:93px;
	margin-top:0px;
	background-image: url(printlbotsl7_90.jpg);
	background-repeat:no-repeat;
	}	
	
#printlslb4 {
	margin-left:88px;
	margin-top:0px;
	background-image: url(printlbotsl6_92.jpg);
	background-repeat:no-repeat;
	}
	
#printlslb5 {
	margin-left:82px;
	margin-top:0px;
	background-image: url(printlbotsl5_95.jpg);
	background-repeat:no-repeat;
	}		
	
#printlslb6 {
	margin-left:71px;
	margin-top:0px;
	background-image: url(printlbotsl4_97.jpg);
	background-repeat:no-repeat;
	}		
	
#printlslb7 {
	margin-left:66px;
	margin-top:0px;
	background-image: url(printlbotsl3_99.jpg);
	background-repeat:no-repeat;
	}			
	
#printlslb8 {
	margin-left:63px;
	margin-top:0px;
	background-image: url(printlbotsl2_101.jpg);
	background-repeat:no-repeat;
	}
	
#printlslb9 {
	margin-left:60px;
	margin-top:0px;
	background-image: url(printlbotsl1_104.jpg);
	background-repeat:no-repeat;
	}		

#printlsr1 {
	margin-left:133px;
	margin-top:-322px;
	background-image: url(printrsl1_41.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr2 {
	margin-left:138px;
	margin-top:-324px;
	background-image: url(printrsl2_39.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr3 {
	margin-left:143px;
	margin-top:-327px;
	background-image: url(printrsl3_33.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr4 {
	margin-left:152px;
	margin-top:-330px;
	background-image: url(printrsl4_29.jpg);
	background-repeat:no-repeat;
	}		
	
#printlsr5 {
	margin-left:157px;
	margin-top:-334px;
	background-image: url(printrsl5_09.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr6 {
	margin-left:178px;
	margin-top:-326px;
	background-image: url(printrsl6_37.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr7 {
	margin-left:182px;
	margin-top:-329px;
	background-image: url(printrsl7_31.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr8 {
	margin-left:186px;
	margin-top:-331px;
	background-image: url(printrsl8_23.jpg);
	background-repeat:no-repeat;
	}
	
#printlsr9 {
	margin-left:190px;
	margin-top:-336px;
	background-image: url(printrsl9long_11.jpg);
	background-repeat:no-repeat;
	}				
			
#printlsr10 {
	margin-left:207px;
	margin-top:-333px;
	background-image: url(printrsl10mlong_19.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr11 {
	margin-left:217px;
	margin-top:-335px;
	background-image: url(printrsl11mlong_13.jpg);
	background-repeat:no-repeat;
	}		
	
#printlsr12 {
	margin-left:228px;
	margin-top:-322px;
	background-image: url(printrsl12_42.jpg);
	background-repeat:no-repeat;
	}		
	
#printlsr13 {
	margin-left:233px;
	margin-top:-331px;
	background-image: url(printrsl13_25.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr14 {
	margin-left:238px;
	margin-top:-336px;
	background-image: url(printrsl14mlong_15.jpg);
	background-repeat:no-repeat;
	}				
	
#printlsr15 {
	margin-left:250px;
	margin-top:-334px;
	background-image: url(printrsl15_20.jpg);
	background-repeat:no-repeat;
	}				
	
					
#printlsr16 {
	margin-left:254px;
	margin-top:-321px;
	background-image: url(printrsl16_43.jpg);
	background-repeat:no-repeat;
	}		
	
#printlsr17 {
	margin-left:265px;
	margin-top:-331px;
	background-image: url(printslice27_27.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr18 {
	margin-left:269px;
	margin-top:-334px;
	background-image: url(printrsl18_17.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr19 {
	margin-left:275px;
	margin-top:-316px;
	background-image: url(printrsl19_61.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr20 {
	margin-left:286px;
	margin-top:-317px;
	background-image: url(printrsl20_59.jpg);
	background-repeat:no-repeat;
	}	
	
#printlsr21 {
	margin-left:291px;
	margin-top:-319px;
	background-image: url(printrsl21_50.jpg);
	background-repeat:no-repeat;
	}			
	
#printlsr22 {
	margin-left:295px;
	margin-top:-317px;
	background-image: url(printrsl23_60.jpg);
	background-repeat:no-repeat;
	}		

#printlsr23 {
	margin-left:298px;
	margin-top:-319px;
	background-image:url(printrsl24_52.jpg);
	background-repeat:no-repeat;
	}		
	
#printlsr24 {
	margin-left:301px;
	margin-top:-321px;
	background-image: url(printrsl25_45.jpg);
	background-repeat:no-repeat;
	}			
		





#artwork {
	margin-left:308px;
	margin-top:0px;
	width:892px;
	height:1050px;
	background-image: url(kellysfavoriteportfolio_02.jpg);
	background-color:#FFF;
	background-repeat: repeat-x;
}




#artwork {
	margin-left:308px;
	margin-top:-900px;
	width:892px;
	height:1220px;
	background-image: url(kellysfavoriteportfolio_02.jpg);
	background-color:#FFF;
	background-repeat: repeat-x;
}







#photo{
	height:32px;
	margin-top:-340px;
	margin-left:10px;
	float:left;
	font-family: Helvetica;
	font-size:54px;
	color: #000;
	text-align:center;
}


#nwps {
	margin-left:200px;
	margin-top:20px;
	font-family:"Adobe Garamond Pro";
	font-size:34px;
	color:#000;
	padding-top:70px;
}

#nwps a {
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

#nwps a:hover {
	font-weight:bold;
	color:#008191;
}

#nwpstxtarea {
	width:830px;
	height:100px;
	margin-left:-170px;
	margin-top:0px;
	font-family:Helvetica;
	font-size:18px;
	text-align:left;
	line-height:10px;
}

#wps {
	margin-left:-50px;
	margin-top:34px;
	font-family:"Adobe Garamond Pro";
	font-size:34px;
	color:#000;
}

#wps a {
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

#wps a:hover {
	font-weight:bold;
	color:#008191;
}

#wpstxtarea {
	width:830px;
	height:100px;
	margin-left:-120px;
	margin-top:0px;
	font-family:Helvetica;
	font-size:18px;
	text-align:left;
	line-height:10px;
}

#tdk {
	margin-left:70px;
	margin-top:34px;
	font-family:"Adobe Garamond Pro";
	font-size:34px;
	color:#000;
}

#tdk a {
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

#tdk a:hover {
	font-weight:bold;
	color:#008191;
}

#tdktxtarea {
	width:830px;
	height:100px;
	margin-left:-180px;
	margin-top:0px;
	font-family:Helvetica;
	font-size:18px;
	text-align:left;
	line-height:10px;
}

#tdklewis {
	margin-left:70px;
	margin-top:34px;
	font-family:"Adobe Garamond Pro";
	font-size:34px;
	color:#000;
}

#tdklewis a {
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

#tdklewis a:hover {
	font-weight:bold;
	color:#008191;
}

#tdktxtarealewis {
	width:830px;
	height:100px;
	margin-left:-250px;
	margin-top:0px;
	font-family:Helvetica;
	font-size:18px;
	text-align:left;
	line-height:10px;
}

